<!-- <footer class="text-center py-3 border-top mt-5 bg-light">
  <p class="mb-1">&copy; 2025 Nangal Tourism. All rights reserved.</p>
  <p class="mb-0">Made with <span style="color: #e25555;">&#10084;&#65039;</span> by Neha</p>
</footer> -->
<footer>
  <p>&copy; 2025 Nangal Tourism. All rights reserved.</p>
  <p>Made with <span>&#10084;&#65039;</span> by Neha</p>
</footer>
